/*** You will not need this file until Unit 3 ***/
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    ;
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

body {
    /* Add a background color or image */
    background-color:; /* see bottom of file for color variables */

    /* Customize the default size, color, and font for text*/
    font-size: 16px;
    color: var(--text-color);
    font-family: Verdana, fantasy, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

    /* Put space around the edges of the webpage (I chose to eliminate this for a clean,full-width layout */
    margin: 0px;
    padding: 0px;
}

/*** Text ***
  
  Purpose: 
  - Add style rules for headings (h1-6),
    paragraphs (p), links (a), and buttons

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

h1 {
    color:#045d5d
    
}

h2 {
color: black
    
}

h3 {
    color: black
}

h4 {
    color: black
}

p {
    color: black;
    
}

a,
a * {
    
}

button {
    /* Example Style, replace with your own! */
    background-color: #75a690;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
}

/*** header ***
  
  Purpose:
  - Add style rules for your website's header section

  When To Modify:
  - [X] Project 3 (REQUIRED FEATURE) 
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.header { /* Example A: This styles elements with class="header" */
    background-color: #b9295d
    
}

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.site-footer { /* Example B: This styles elements with class="footer" */
    background-color: #1a1a3d;
    color:white;
    padding: 2rem 1rem;
    text-align: center;
}

.footer-content p {
    color: white;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
}

.footer-nav a:visited {
    color: gray;
}

.footer-nav a:hover {
    color: #92c4ad;
}

.footer-nav a:active {
    color: turquoise
}

/*** Navbar [PLACEHOLDER] [ADDED IN UNIT 4] ***/
.navbar {
    background-color: #1a1a3d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.2rem 2rem;
}

.nav-links {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 10px;
  margin:10px;
  gap: 2rem;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s ease;
}

.nav-links a:visited {
  color: gray;
}

.nav-links a:hover {
  color:#92c4ad
}

.nav-links a:active {
  color: turquoise
}

.nav-button {
  background-color:#75a690;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

/** Hero Section**/
.hero {
  background-color: #b9295d;
  display: flex;
  align-items: stretch;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

#hero h2 {
  color: white;
}

.hero-image img {
  display: block;
  max-width: 100%;
  max-height: 450px;
  width: auto;
  height: auto;
  object-fit: cover;
}

/*** About Section ***
  
  Purpose:
  - Add style rules for your website's About section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/
#about {
  background-color: #045d5d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
}

#about h2,
#about h3,
#about h4,
#about p,
#about li {
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*** Schedule Section ***
  
  Purpose:
  - Add style rules for your website's Schedule section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.event-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

/* .event-card {
  flex: 1 1 300px;
  max-width: 350px;
  padding: 1rem;
  text-align: center;
  box-shadow:l 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-card img {
  width: 100%;
  max-width: 300px;
  height:auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
} */

#events h2,
#events h3 {
  color:#1a1a3d;
}

/*** Links Section ***
  
  Purpose:
  - Add style rules for your website's Links section

  When To Modify:
  - [ ] Project 3 (OPTIONAL)
  - [ ] Project 4 (STRETCH FEATURE) 
  - [ ] Any time after
***/


/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/*** Dark Mode [PLACEHOLDER] [ADDED IN UNIT 5] ***/

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}
